# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore
node_modules
build/asset-manifest.json
build/favicon.ico
build/index.html
build/logo192.png
build/logo512.png
build/manifest.json
build/robots.txt
build/static/css/main.282a72c2.css
build/static/css/main.282a72c2.css.map
build/static/js/787.1715cc32.chunk.js
build/static/js/787.1715cc32.chunk.js.map
build/static/js/main.54c10955.js
build/static/js/main.54c10955.js.LICENSE.txt
build/static/js/main.54c10955.js.map
build/static/media/icon-arrow.76e952b1b427b84b83bd01f2f4822499.svg
