.card {
  --white-color: hsl(0, 0%, 100%);
}

.card {
  width: 90vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  border-radius: 2rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
