.form {
  --smokey-grey-color: hsl(0, 1%, 44%);
  --purple-color: hsl(259, 100%, 65%);
  --black-color: black;
  --red-color: red;
  --grey-color: grey;
}

.form {
  padding: 2rem 2rem;
}

.inputsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  justify-items: stretch;
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin-bottom: 2rem;
}

.inputsContainer label {
  grid-row: 1;
  min-width: 1rem;
  max-width: 100%;
  padding: 0;
  color: var(--smokey-grey-color);
}

.inputsContainer input {
  grid-row: 2;
  min-width: 1rem;
  max-width: 100%;
  border-radius: 0.5rem;
  border-width: thin;
  border-color: grey;
  padding: 0.5rem 1rem;
  font-weight: 700;
}

/* day */

.inputsContainer .daylabel {
  grid-column: 1;
}

.inputsContainer .dayLabel.dayLabelError {
  color: var(--red-color);
}

.inputsContainer .dayInput {
  grid-column: 1;
}

.inputsContainer .dayInput.dayInputError {
  border-color: var(--red-color);
}

.inputsContainer .dayErrorMessage {
  grid-column: 1;
  color: var(--red-color);
}

/* month */

.inputsContainer .monthlabel {
  grid-column: 2;
}

.inputsContainer .monthLabel.monthLabelError {
  color: var(--red-color);
}

.inputsContainer .monthInput {
  grid-column: 2;
}

.inputsContainer .monthInput.monthInputError {
  border-color: var(--red-color);
}

.inputsContainer .monthErrorMessage {
  grid-column: 2;
  color: var(--red-color);
}

/* year */

.inputsContainer .yearlabel {
  grid-column: 3;
}

.inputsContainer .yearLabel.yearLabelError {
  color: var(--red-color);
}

.inputsContainer .yearInput {
  grid-column: 3;
}

.inputsContainer .yearInput.yearInputError {
  border-color: var(--red-color);
}

.inputsContainer .yearErrorMessage {
  grid-column: 3;
  color: var(--red-color);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  border-radius: 50%;
  background-color: var(--purple-color);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transform: translate(0%, -50%);
  padding: 0.5rem;
  border: none;
}

.button img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.button:hover,
.button:active {
  background-color: var(--black-color);
}

.button:disabled {
  background-color: var(--grey-color);
}
